<html>
<head>
<title>首页</title>
</head>
<body>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title">
						<i class="ace-icon fa fa-star orange"></i> 应用实例列表
					</h4>
				</div>

				<div class="card-body table-responsive">
						<table class="table table-bordered table-striped table-hover">
							<thead class="text-warning">
								<tr>
									<th> 应用</th>
									<th> 实例名称</th>
									<th class="hidden-480"> IP：端口</th>
								</tr>
							</thead>

							<tbody>
								<#list appInsList as ins>
								<tr>
									<td>${ins.insName!}</td>
									<td><small>${ins.insId!}</small> </td>
									<td><b class="green"><a href="${contextPath}/log?appInsId=${ins.insId!}">${ins.insIp!}:${ins.insPort!?c}</a></b></td>
								</tr>
								</#list>
							</tbody>
						</table>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header card-header-warning">
					<h4 class="card-title">
						<i class="ace-icon fa fa-star orange"></i> 人员列表
					</h4>
				</div>

				<div class="card-body table-responsive">
						<table class="table table-bordered table-striped table-hover">
							<thead class="text-warning">
								<tr>
									<th> 名称</th>
									<th> 手机号</th>
									<th class="hidden-480"> 微信OpenId</th>
								</tr>
							</thead>

							<tbody>
								<#list userList as user>
								<tr>
									<td><small>${user.userName!}</small> </td>
									<td><small>${user.mobile!}</small> </td>
									<td><b class="green"> ${user.weixinOpenId}</b></td>
								</tr>
								</#list>
							</tbody>
						</table>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function(){
			 $("#nav_index").addClass("active")	
			})
		
		</script>
	</div>
</body>
</html>