<html>
<head>
<title>首页</title>
	<style type="text/css">
		.loggerInfo td
		{
			padding-top:0px;
			padding-bottom:0px;
			margin: 0;
		}
	
		.loggerInfo .red
		{
			color: red;
		}
		
		.loggerInfo .orange
		{
			color: orange;
		}
	
	</style>
</head>
<body>
	<div class="row">
		<div class="col-sm-12">
			<div class="card transparent">
				<div class="card-header card-header-primary">
					<h4 class="card-title lighter">
						<i class="ace-icon fa fa-star orange"></i> 日志打印
					</h4>
				</div>
				<div class="card-body">
				
					<div class="tab-content">
						<table  class="table loggerInfo">
							<tbody>
								<#list loggerList as log>
								<tr>
									<td > 
									 
									 	<a href="/log/detail/${log.id?c}">
									 	<small class='${(log.stack?exists)?string("red","orange")}'>
										${log.level!}&nbsp;${(log.time?string("yyyy-MM-dd HH:mm:ss"))!}  &nbsp;${log.thread!} &nbsp;${log.clazz!}#${log.clazzMethod!}:${log.clazzLine!} &nbsp; 
										 ${log.msg!} </small>  </a>
										
									</td>
								</tr>
								</#list>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
		<!-- /.col -->
		<script type="text/javascript">
			$(function () { $("[data-toggle='tooltip']").popover(); });
		</script>
	</div>
</body>
</html>