<html>
<head>
<title>首页</title>
	<style type="text/css">
		.loggerInfo .red
		{
			color: red;
		}
		
		.loggerInfo .orange
		{
			color: orange;
		}
	</style>
</head>
<body>
	<div class="row">
		<div class="col-sm-12">
			<div class="card transparent">
				<div class="card-header card-header-primary">
					<h4 class="card-title lighter">
						<i class="ace-icon fa fa-star orange"></i> 日志详情
					</h4>
				</div>
				<div class="card-body">
				
					<div class="tab-content loggerInfo">
					 	<small>
							${(logInfo.time?string("yyyy-MM-dd HH:mm:ss"))!}  &nbsp;${logInfo.thread!} &nbsp;${logInfo.clazz!}(${logInfo.clazzMethod!}:${logInfo.clazzLine!}) &nbsp; 
						 	${logInfo.msg!}  
							<br /><b class="red"> ${logInfo.stack!} </b>
						</small>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<script type="text/javascript">
			$(function(){ $("#nav_log").addClass("active")	 })
		</script>
	</div>
</body>
</html>