<html>
<head>
<title>首页</title>
	<style type="text/css">
		.loggerInfo td
		{
			padding-top:0px;
			padding-bottom:0px;
			margin: 0;
		}
	
	</style>
</head>
<body>
	<div class="row">
		<div class="col-sm-12">
			<div class="card transparent">
				<div class="card-header card-header-primary">
					<h4 class="card-title lighter">
						<i class="ace-icon fa fa-star orange"></i> 日志打印
					</h4>
				</div>
				<div class="card-body">
				
					<div class="tab-content">
						<table  class="table loggerInfo">
							<tbody>
								<#list loggerList as log>
								<tr>
									<td > 
									 <small>
										${(log.time?string("yyyy-MM-dd HH:mm:ss"))!}  &nbsp;${log.thread!} &nbsp;${log.clazz!}(${log.clazzMethod!}:${log.clazzLine!}) &nbsp; 
										<b class="red">
										<#if log.msg?? && log.msg?length gt 50>  
											   <a hre="#" data-toggle="tooltip" title="${log.msg!}"> ${log.msg?substring(0,50)}...</a>  
											<#else>${log.msg!}   
											</#if>  
										</b></small>
									</td>
								</tr>
								</#list>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
		<!-- /.col -->
		<script type="text/javascript">
			$(function () { $("[data-toggle='tooltip']").popover(); });
		</script>
	</div>
</body>
</html>